---
title: "Unsupervised Learning"
format:
    html: 
        code-fold: false
---

<!-- After digesting the instructions, you can delete this cell, these are assignment instructions and do not need to be included in your final submission.  -->

{{< include instructions.qmd >}}

# Code

In [1]:
#Import packages this file uses
import pandas as pd
import ast
import hdbscan
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA

In [2]:
#Import singlar combined csv file from processed data as a pandas df
dfTFT = pd.read_csv("../data/processed-data/TFT_processed-data.csv")
dfTFT.head(5)

,match_id,puuid,placement,level,time_eliminated,total_damage,game_length,game_version,gold_left,traits,...,total_items,Release_Version,total_traits,total_units,top1,top4,bottom4,champions,raw_champions,champion_list
0,NA1_5412752266,zkxtkj27xwoevll2byguugjlpldforxw6vscn82z0s4m4w...,8,9,1591.827148,40,2182.824219,Linux Version 15.22.724.5161 (Nov 05 2025/16:1...,1,"[{'name': 'TFT15_Bastion', 'num_units': 1, 'st...",...,13,15.22,14,9,0,0,1,[],"['TFT15_Aatrox', 'TFT15_DrMundo', 'TFT15_Vi', ...","['Aatrox', 'DrMundo', 'Vi', 'Udyr', 'Sett', 'B..."
1,NA1_5412752266,5brr3jrvsrxprqoi2u1vdib7uhyvqh9dbldf7a1dv9_uvw...,1,9,2174.608154,173,2182.824219,Linux Version 15.22.724.5161 (Nov 05 2025/16:1...,61,"[{'name': 'TFT15_DragonFist', 'num_units': 1, ...",...,17,15.22,10,10,1,1,0,[],"['TFT15_Kayle', 'TFT15_Zac', 'TFT15_Aatrox', '...","['Kayle', 'Zac', 'Aatrox', 'Gangplank', 'Udyr'..."
2,NA1_5412752266,ilqfyw7mnea2shfj5mvz4yhh6whmkrhoqa8m8otzxvtn71...,6,9,1815.780273,80,2182.824219,Linux Version 15.22.724.5161 (Nov 05 2025/16:1...,0,"[{'name': 'TFT15_Bastion', 'num_units': 4, 'st...",...,11,15.22,9,10,0,0,1,[],"['TFT15_Ezreal', 'TFT15_Garen', 'TFT15_Rell', ...","['Ezreal', 'Garen', 'Rell', 'Rakan', 'Caitlyn'..."
3,NA1_5412752266,yja8q8aza0xq_s9hebroe4adddezonw0abvoc5gprzgmqw...,3,9,2032.849243,124,2182.824219,Linux Version 15.22.724.5161 (Nov 05 2025/16:1...,9,"[{'name': 'TFT15_Bastion', 'num_units': 2, 'st...",...,12,15.22,8,9,0,1,0,[],"['TFT15_Naafiri', 'TFT15_Lux', 'TFT15_XinZhao'...","['Naafiri', 'Lux', 'XinZhao', 'Viego', 'Samira..."
4,NA1_5412752266,oubcpr6kdwc2r4zz_msa6ftlulg14fqnrjj9pglbs2z4on...,5,8,1818.687256,84,2182.824219,Linux Version 15.22.724.5161 (Nov 05 2025/16:1...,41,"[{'name': 'TFT15_Bastion', 'num_units': 2, 'st...",...,13,15.22,7,8,0,0,1,[],"['TFT15_Ezreal', 'TFT15_Garen', 'TFT15_Syndra'...","['Ezreal', 'Garen', 'Syndra', 'Rakan', 'Malzah..."

In [3]:
#Only use Release Version 15.22
dfTFT = dfTFT[dfTFT["Release_Version"] == 15.22]

In [4]:
dfTFT.shape

(32455, 31)

# This size is a massive issue. Way to much for me to run.

In [5]:
#Convert Python Lists 
dfTFT["champion_list"] = dfTFT["champion_list"].apply(ast.literal_eval)

In [6]:
#Drop duplicates of the champion comps. This should make the size manageable
dfTFT = dfTFT.drop_duplicates(subset=["champion_list"])
dfTFT.shape

(10757, 31)

In [7]:
#Transform champion_list for HDBScan 
mlb = MultiLabelBinarizer()
X = mlb.fit_transform(dfTFT["champion_list"])
X.shape

#Reduce dimensionality for PCA. Tried it but after removing duplicates I dont think its necessary
pca = PCA(n_components = 25)
X1 = pca.fit_transform(X)

#See variance ratio
sum(pca.explained_variance_ratio_)

0.8263144237799275

In [8]:
import pandas as pd
import ast
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import pairwise_distances
import numpy as np
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import fcluster

#Get the Jaccard distances between champions
#D = pairwise_distances(X1.astype(bool), metric="jaccard")

from sklearn.metrics import pairwise_distances

#dist = euclidean not jaccard due to PCA.
D_pca = pairwise_distances(X1, metric="euclidean")

#Then convert matrix to condensed form due to scipy requirements
D_condensed = D_pca[np.triu_indices(len(D_pca), k=1)]

Z = linkage(D_condensed, method="average")
labels = fcluster(Z, t=15, criterion="maxclust")
dfTFT["cluster"] = labels

In [9]:
for t in [2, 3, 4, 5]:
    labels = fcluster(Z, t=t, criterion="distance")
    print("t =", t, "→ clusters =", len(np.unique(labels)))

t = 2 → clusters = 228
t = 3 → clusters = 11
t = 4 → clusters = 1
t = 5 → clusters = 1

In [10]:
labels = fcluster(Z, t=3, criterion="distance")
dfTFT["cluster"] = labels
dfTFT["cluster"].value_counts()

cluster
3     1680
6     1505
5     1363
10     960
1      955
4      852
2      819
9      802
11     744
7      566
8      511
Name: count, dtype: int64

In [11]:
clusters = sorted(dfTFT["cluster"].unique())

for cid in clusters:
    subset = X[dfTFT["cluster"] == cid]
    freq = subset.mean(axis=0)

    print(f"\n===== COMP {cid} =====")
    top_idx = freq.argsort()[::-1][:10]
    for idx in top_idx:
        print(f"  {mlb.classes_[idx]}: {freq[idx]:.2f}")

===== COMP 1 =====
  Poppy: 0.95
  Jinx: 0.95
  Neeko: 0.81
  Rell: 0.75
  Kobuko: 0.72
  KSante: 0.68
  Xayah: 0.52
  Seraphine: 0.48
  Varus: 0.47
  Braum: 0.46

===== COMP 2 =====
  Garen: 0.95
  Rakan: 0.90
  Ezreal: 0.88
  Leona: 0.84
  Yuumi: 0.83
  Jayce: 0.57
  Katarina: 0.53
  Ryze: 0.31
  Malzahar: 0.29
  KSante: 0.29

===== COMP 3 =====
  Shen: 0.89
  Leona: 0.85
  Rell: 0.84
  Swain: 0.83
  XinZhao: 0.81
  Braum: 0.66
  Garen: 0.43
  Seraphine: 0.38
  TwistedFate: 0.37
  Zyra: 0.31

===== COMP 4 =====
  Samira: 0.93
  Sett: 0.92
  Volibear: 0.77
  Naafiri: 0.73
  XinZhao: 0.72
  Lux: 0.54
  Gwen: 0.48
  Braum: 0.46
  Viego: 0.40
  Shen: 0.38

===== COMP 5 =====
  DrMundo: 0.93
  Udyr: 0.91
  Sett: 0.87
  Naafiri: 0.80
  Vi: 0.71
  LeeSin: 0.71
  Braum: 0.54
  TwistedFate: 0.53
  Zyra: 0.45
  Aatrox: 0.44

===== COMP 6 =====
  Swain: 0.91
  Janna: 0.90
  Ashe: 0.85
  Vi: 0.77
  Zyra: 0.71
  KSante: 0.69
  JarvanIV: 0.67
  Braum: 0.55
  Udyr: 0.53
  LeeSin: 0.47

===== COMP 7 =====
  Janna: 0.83
  Malphite: 0.81
  Sivir: 0.60
  Ziggs: 0.57
  Shen: 0.57
  Ryze: 0.46
  JarvanIV: 0.44
  Neeko: 0.41
  KSante: 0.34
  Kennen: 0.31

===== COMP 8 =====
  Karma: 0.97
  Lucian: 0.94
  JarvanIV: 0.90
  Ryze: 0.66
  Swain: 0.51
  Aatrox: 0.49
  Senna: 0.46
  Gwen: 0.44
  Lux: 0.43
  Gangplank: 0.41

===== COMP 9 =====
  Kayle: 0.82
  Udyr: 0.79
  Zac: 0.72
  Jhin: 0.62
  Aatrox: 0.60
  Varus: 0.54
  KSante: 0.54
  LeeSin: 0.40
  Malzahar: 0.40
  Sett: 0.31

===== COMP 10 =====
  Zac: 0.64
  Darius: 0.64
  Malzahar: 0.64
  Kobuko: 0.58
  Poppy: 0.50
  Jayce: 0.46
  Aatrox: 0.37
  Rammus: 0.32
  Seraphine: 0.28
  KSante: 0.21

===== COMP 11 =====
  Aatrox: 0.75
  Ryze: 0.71
  Udyr: 0.65
  JarvanIV: 0.62
  Akali: 0.56
  Darius: 0.55
  Senna: 0.49
  Kennen: 0.49
  Kobuko: 0.44
  KSante: 0.41

In [17]:
place = dfTFT.groupby("cluster")["placement"].mean().sort_values()
print(place)

cluster
10    4.206250
4     4.497653
8     4.524462
11    4.526882
1     4.689005
2     4.739927
9     4.754364
3     4.783929
5     4.947175
6     5.016611
7     5.169611
Name: placement, dtype: float64

In [ ]:
#HDBSCAN
clusterer = hdbscan.HDBSCAN(
    min_cluster_size=150,
    min_samples=20, 
    metric='jaccard', 
    cluster_selection_epsilon=0.0,
    cluster_selection_method='leaf')

#Note: We Are using X. Removal of duplicates made dataset manageable
labels = clusterer.fit_predict(X)

#Look at Cluster sizs
print(pd.Series(labels).value_counts())

In [ ]:
champ_names = mlb.classes_

def describe_clusters(X_bin, labels, champ_names, top_n = 10):
    df_bin = pd.DataFrame(X_bin, columns=champ_names)
    results = {}

    for cluster_id in sorted(set(labels)):
        if cluster_id == -1:
            print("\n=== Noise (cluster -1) ===")
        else:
            print(f"\n=== Cluster {cluster_id} ===")
        
        rows = df_bin[labels == cluster_id]
        freq = rows.mean().sort_values(ascending=False)
        
        print(freq.head(top_n))
        results[cluster_id] = freq.head(top_n)

    return results

cluster_summary = describe_clusters(X, labels, champ_names)

In [ ]:
#Show clusters via TSNE
tsne = TSNE(n_components = 2, perplexity = 30, random_state = 42)
emb = tsne.fit_transform(X)

plt.figure(figsize=(10,7))
plt.scatter(emb[:,0], emb[:,1], c = labels, s = 3, cmap = 'tab20')
plt.title("t-SNE of TFT Boards (colored by PCA+Hierarchical clusters)")
plt.show()